$textColor: #333;
$mainColor: #ff0000;
$backgroundColor: rgb(244, 244, 244);

$fontFamily: 'Montserrat', sans-serif;

$phoneWidth: 360px;
$tabletWidth: 768px;
$desktopWidth: 1366px;
$lgDesktop: 1920px;
