.home__container {
	h1 {
		text-align: center;
		margin: 50px auto;
	}

	.counter {
		background-color: white;
		padding: 1rem;
		border-radius: 0.25rem;
		width: 700px;
		margin: 0 auto;
		text-align: center;
		h3 {
			margin-bottom: 30px;
		}
	}
}
