@use 'styles/' as *;

.form {
	&__inner {
		display: inline-flex;
		border: 1px solid rgb(236 236 236);
		border-radius: 0.25rem;
		margin-bottom: 1rem;
	}

	&__button-increase,
	&__button-decrease,
	&__input {
		height: 30px;
		width: 30px;
		border: none;
		background-color: transparent;
	}

	&__input {
		width: 40px;
		text-align: center;
		border-left: 1px solid rgb(236 236 236);
		border-right: 1px solid rgb(236 236 236);

		&:focus {
			border-color: rgb(102, 175, 237);
			box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px inset, rgb(102 175 233 / 60%) 0px 0px 8px;
		}
	}

	&__button-increase,
	&__button-decrease {
		display: grid;
		place-items: center;
		transition: all 0.25s ease;

		&:hover {
			background-color: rgb(236, 236, 236);
			cursor: pointer;
		}
	}

	&__icon {
		color: rgb(121 121 121);
	}
}
